@font-face {
  font-family: "iconfont"; /* Project id 3938294 */
  src: url('iconfont.woff2?t=1767146527671') format('woff2'),
       url('iconfont.woff?t=1767146527671') format('woff'),
       url('iconfont.ttf?t=1767146527671') format('truetype'),
       url('iconfont.svg?t=1767146527671#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kl-plc-1:before {
  content: "\e850";
}

.kl-plc:before {
  content: "\e910";
}

.kl-camera-trigger:before {
  content: "\e63c";
}

.kl-light-trigger:before {
  content: "\e608";
}

.kl-pattern:before {
  content: "\e7be";
}

.kl-defect:before {
  content: "\e60f";
}

.kl-exp-time:before {
  content: "\e62c";
}

.kl-trigger:before {
  content: "\e607";
}

.kl-help-video:before {
  content: "\e6dd";
}

.kl-help:before {
  content: "\e8c9";
}

.kl-folder-open:before {
  content: "\e804";
}

.kl-import1:before {
  content: "\e675";
}

.kl-refresh:before {
  content: "\e67b";
}

.kl-doc:before {
  content: "\e99c";
}

.kl-upload-img:before {
  content: "\e62e";
}

.kl-xiala:before {
  content: "\e62f";
}

.kl-close1:before {
  content: "\e839";
}

.kl-back:before {
  content: "\e666";
}

.kl-close:before {
  content: "\e668";
}

.kl-export:before {
  content: "\e66e";
}

.kl-camera:before {
  content: "\e605";
}

.kl-zhijianyuan:before {
  content: "\e72a";
}

.kl-show:before {
  content: "\e6c8";
}

.kl-zuixiaohua:before {
  content: "\e6e9";
}

.kl-exit:before {
  content: "\e652";
}

.kl-table:before {
  content: "\e6b2";
}

.kl-grid:before {
  content: "\e83c";
}

.kl-stop:before {
  content: "\e62d";
}

.kl-fullscreen:before {
  content: "\e740";
}

.kl-lock:before {
  content: "\e600";
}

.kl-jia:before {
  content: "\e601";
}

.kl-unlock:before {
  content: "\e602";
}

.kl-shuaxin:before {
  content: "\e62b";
}

.kl-huiche:before {
  content: "\e6e8";
}

.kl-paixu1:before {
  content: "\e60c";
}

.kl-right:before {
  content: "\e603";
}

.kl-left:before {
  content: "\e604";
}

.kl-gouyonghu:before {
  content: "\e6a0";
}

.kl-zhongdianduiqi:before {
  content: "\e62a";
}

.kl-juzhongduiqi:before {
  content: "\e6c0";
}

.kl-alarm:before {
  content: "\e871";
}

.kl-wait:before {
  content: "\e612";
}

.kl-ready:before {
  content: "\e614";
}

.kl-start:before {
  content: "\e616";
}

.kl-edit:before {
  content: "\e617";
}

.kl-power:before {
  content: "\e618";
}

.kl-pie-chart:before {
  content: "\e619";
}

.kl-copy:before {
  content: "\e61a";
}

.kl-log:before {
  content: "\e61b";
}

.kl-light:before {
  content: "\e61c";
}

.kl-warn-light:before {
  content: "\e61d";
}

.kl-info:before {
  content: "\e61f";
}

.kl-restart:before {
  content: "\e620";
}

.kl-volume:before {
  content: "\e621";
}

.kl-bar-chart:before {
  content: "\e622";
}

.kl-delete:before {
  content: "\e623";
}

.kl-write:before {
  content: "\e624";
}

.kl-unrecognized:before {
  content: "\e625";
}

.kl-error:before {
  content: "\e626";
}

.kl-ongoing:before {
  content: "\e627";
}

.kl-add:before {
  content: "\e628";
}

.kl-import:before {
  content: "\e629";
}

.kl-end:before {
  content: "\e872";
}

.kl-down:before {
  content: "\e60b";
}

.kl-folder:before {
  content: "\e606";
}

.kl-image:before {
  content: "\e6ad";
}

.kl-koutu:before {
  content: "\e698";
}

.kl-koutu1:before {
  content: "\e613";
}

