@font-face {
  font-family: "iconfont"; /* Project id 3938294 */
  src: url('iconfont.woff2?t=1733302395327') format('woff2'),
       url('iconfont.woff?t=1733302395327') format('woff'),
       url('iconfont.ttf?t=1733302395327') format('truetype'),
       url('iconfont.svg?t=1733302395327#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kl-zuixiaohua:before {
  content: "\e6e9";
}

.kl-exit:before {
  content: "\e652";
}

.kl-table:before {
  content: "\e6b2";
}

.kl-grid:before {
  content: "\e83c";
}

.kl-stop:before {
  content: "\e62d";
}

.kl-fullscreen:before {
  content: "\e740";
}

.kl-suoding:before {
  content: "\e600";
}

.kl-jia:before {
  content: "\e601";
}

.kl-jiesuo:before {
  content: "\e602";
}

.kl-shuaxin:before {
  content: "\e62b";
}

.kl-huiche:before {
  content: "\e6e8";
}

.kl-paixu1:before {
  content: "\e60c";
}

.kl-zuoyoujiantou:before {
  content: "\e603";
}

.kl-zuojiantou:before {
  content: "\e604";
}

.kl-gouyonghu:before {
  content: "\e6a0";
}

.kl-zhongdianduiqi:before {
  content: "\e62a";
}

.kl-juzhongduiqi:before {
  content: "\e6c0";
}

.kl-alarm:before {
  content: "\e871";
}

.kl-wait:before {
  content: "\e612";
}

.kl-ready:before {
  content: "\e614";
}

.kl-start:before {
  content: "\e616";
}

.kl-edit:before {
  content: "\e617";
}

.kl-power:before {
  content: "\e618";
}

.kl-pie-chart:before {
  content: "\e619";
}

.kl-copy:before {
  content: "\e61a";
}

.kl-log:before {
  content: "\e61b";
}

.kl-light:before {
  content: "\e61c";
}

.kl-warn-light:before {
  content: "\e61d";
}

.kl-ended:before {
  content: "\e61e";
}

.kl-info:before {
  content: "\e61f";
}

.kl-restart:before {
  content: "\e620";
}

.kl-volume:before {
  content: "\e621";
}

.kl-bar-chart:before {
  content: "\e622";
}

.kl-delete:before {
  content: "\e623";
}

.kl-write:before {
  content: "\e624";
}

.kl-unrecognized:before {
  content: "\e625";
}

.kl-error:before {
  content: "\e626";
}

.kl-ongoing:before {
  content: "\e627";
}

.kl-add:before {
  content: "\e628";
}

.kl-import:before {
  content: "\e629";
}

.kl-end:before {
  content: "\e872";
}

.kl-camera:before {
  content: "\e672";
}

.kl-xiangxiajiantou:before {
  content: "\e60b";
}

.kl-ziliaokudianji:before {
  content: "\e606";
}

.kl-tuxiang:before {
  content: "\e6ad";
}

.kl-koutu:before {
  content: "\e698";
}

.kl-koutu1:before {
  content: "\e613";
}

