.w-full {
    width: 100%;
}

.w-half {
    width: 50%;
}

.h-full {
    height: 100%;
}

.wh-full {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.por,
.relative {
    position: relative;
}

.poatl00 {
    position: absolute;
    top: 0;
    left: 0;
}
.poatr00 {
    position: absolute;
    top: 0;
    right: 0;
}
