.por {
    position: relative;
}
.poatl00 {
    position: absolute;
    top: 0;
    left: 0;
}
.poatr00 {
    position: absolute;
    top: 0;
    right: 0;
}
.ma {
    margin: 0 auto;
}

.m0 {
    margin: 0px;
}

.mt0 {
    margin-top: 0px;
}

.mb0 {
    margin-bottom: 0px;
}

.ml0 {
    margin-left: 0px;
}

.mr0 {
    margin-right: 0px;
}

.mlr0 {
    margin-left: 0px;
    margin-right: 0px;
}

.mtb0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.p0 {
    padding: 0px;
}

.pt0 {
    padding-top: 0px;
}

.pb0 {
    padding-bottom: 0px;
}

.pl0 {
    padding-left: 0px;
}

.pr0 {
    padding-right: 0px;
}

.plr0 {
    padding-left: 0px;
    padding-right: 0px;
}

.ptb0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.m5 {
    margin: 5px;
}

.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.ml5 {
    margin-left: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mlr5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mtb5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.p5 {
    padding: 5px;
}

.pt5 {
    padding-top: 5px;
}

.pb5 {
    padding-bottom: 5px;
}

.pl5 {
    padding-left: 5px;
}

.pr5 {
    padding-right: 5px;
}

.plr5 {
    padding-left: 5px;
    padding-right: 5px;
}

.ptb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.m10 {
    margin: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.ml10 {
    margin-left: 10px;
}

.mr10 {
    margin-right: 10px;
}

.mlr10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.p10 {
    padding: 10px;
}

.pt10 {
    padding-top: 10px;
}

.pb10 {
    padding-bottom: 10px;
}

.pl10 {
    padding-left: 10px;
}

.pr10 {
    padding-right: 10px;
}

.plr10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ptb10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.m15 {
    margin: 15px;
}

.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.ml15 {
    margin-left: 15px;
}

.mr15 {
    margin-right: 15px;
}

.mlr15 {
    margin-left: 15px;
    margin-right: 15px;
}

.mtb15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.p15 {
    padding: 15px;
}

.pt15 {
    padding-top: 15px;
}

.pb15 {
    padding-bottom: 15px;
}

.pl15 {
    padding-left: 15px;
}

.pr15 {
    padding-right: 15px;
}

.plr15 {
    padding-left: 15px;
    padding-right: 15px;
}

.ptb15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.m20 {
    margin: 20px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.ml20 {
    margin-left: 20px;
}

.mr20 {
    margin-right: 20px;
}

.mlr20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mtb20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.p20 {
    padding: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pr20 {
    padding-right: 20px;
}

.plr20 {
    padding-left: 20px;
    padding-right: 20px;
}

.ptb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.m25 {
    margin: 25px;
}

.mt25 {
    margin-top: 25px;
}

.mb25 {
    margin-bottom: 25px;
}

.ml25 {
    margin-left: 25px;
}

.mr25 {
    margin-right: 25px;
}

.mlr25 {
    margin-left: 25px;
    margin-right: 25px;
}

.mtb25 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.p25 {
    padding: 25px;
}

.pt25 {
    padding-top: 25px;
}

.pb25 {
    padding-bottom: 25px;
}

.pl25 {
    padding-left: 25px;
}

.pr25 {
    padding-right: 25px;
}

.plr25 {
    padding-left: 25px;
    padding-right: 25px;
}

.ptb25 {
    padding-top: 25px;
    padding-bottom: 25px;
}

.m30 {
    margin: 30px;
}

.mt30 {
    margin-top: 30px;
}

.mb30 {
    margin-bottom: 30px;
}

.ml30 {
    margin-left: 30px;
}

.mr30 {
    margin-right: 30px;
}

.mlr30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mtb30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.p30 {
    padding: 30px;
}

.pt30 {
    padding-top: 30px;
}

.pb30 {
    padding-bottom: 30px;
}

.pl30 {
    padding-left: 30px;
}

.pr30 {
    padding-right: 30px;
}

.plr30 {
    padding-left: 30px;
    padding-right: 30px;
}

.ptb30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.m35 {
    margin: 35px;
}

.mt35 {
    margin-top: 35px;
}

.mb35 {
    margin-bottom: 35px;
}

.ml35 {
    margin-left: 35px;
}

.mr35 {
    margin-right: 35px;
}

.mlr35 {
    margin-left: 35px;
    margin-right: 35px;
}

.mtb35 {
    margin-top: 35px;
    margin-bottom: 35px;
}

.p35 {
    padding: 35px;
}

.pt35 {
    padding-top: 35px;
}

.pb35 {
    padding-bottom: 35px;
}

.pl35 {
    padding-left: 35px;
}

.pr35 {
    padding-right: 35px;
}

.plr35 {
    padding-left: 35px;
    padding-right: 35px;
}

.ptb35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.m40 {
    margin: 40px;
}

.mt40 {
    margin-top: 40px;
}

.mb40 {
    margin-bottom: 40px;
}

.ml40 {
    margin-left: 40px;
}

.mr40 {
    margin-right: 40px;
}

.mlr40 {
    margin-left: 40px;
    margin-right: 40px;
}

.mtb40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.p40 {
    padding: 40px;
}

.pt40 {
    padding-top: 40px;
}

.pb40 {
    padding-bottom: 40px;
}

.pl40 {
    padding-left: 40px;
}

.pr40 {
    padding-right: 40px;
}

.plr40 {
    padding-left: 40px;
    padding-right: 40px;
}

.ptb40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.m45 {
    margin: 45px;
}

.mt45 {
    margin-top: 45px;
}

.mb45 {
    margin-bottom: 45px;
}

.ml45 {
    margin-left: 45px;
}

.mr45 {
    margin-right: 45px;
}

.mlr45 {
    margin-left: 45px;
    margin-right: 45px;
}

.mtb45 {
    margin-top: 45px;
    margin-bottom: 45px;
}

.p45 {
    padding: 45px;
}

.pt45 {
    padding-top: 45px;
}

.pb45 {
    padding-bottom: 45px;
}

.pl45 {
    padding-left: 45px;
}

.pr45 {
    padding-right: 45px;
}

.plr45 {
    padding-left: 45px;
    padding-right: 45px;
}

.ptb45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.m50 {
    margin: 50px;
}

.mt50 {
    margin-top: 50px;
}

.mb50 {
    margin-bottom: 50px;
}

.ml50 {
    margin-left: 50px;
}

.mr50 {
    margin-right: 50px;
}

.mlr50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mtb50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.p50 {
    padding: 50px;
}

.pt50 {
    padding-top: 50px;
}

.pb50 {
    padding-bottom: 50px;
}

.pl50 {
    padding-left: 50px;
}

.pr50 {
    padding-right: 50px;
}

.plr50 {
    padding-left: 50px;
    padding-right: 50px;
}

.ptb50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

//单行省略号
.p-te {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

//2行省略号
.p-te2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

//3行省略号
.p-te3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

//4行省略号
.p-te4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
}

/* //子元素占用区域份数 */
.fx-f1 {
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

// 背景图像居中
.bg-img-center {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-black {
    background: #000;
}
