.shadow-block {
    background: var(--kl-bg-color);
    box-shadow: var(--kl-shadow-block);
}

.shadow-inline {
    border: 0;
    box-shadow: var(--kl-shadow-inline);
}

.shadow-inline.hightlight {
    background: linear-gradient(110.58deg, #ebf2f8 -8.29%, #f8fcff 121.14%);
    box-shadow:
        inset -3px -3px 2px #d5dce4,
        inset 3px 3px 2px #a6bad5,
        0px 0px 2px 2px #fff;
    color: var(--kl-click-color);
}

// 分割线；默认位于底部
.split-line {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: calc(100% - 3px);
        height: 2px;
        position: absolute;
        bottom: 0;
        left: 3px;
        background: #ccced0;
        box-shadow: inset 0px -1px 0px #ffffff;
    }
}

// 分割线；顶部
.split-line.split-top {
    &::after {
        top: 0;
    }
}

.split-line.split-left,
.split-line.split-right {
    &::after {
        width: 2px;
        height: 100%;
        background: #c4c4c4;
        box-shadow: -1px 0px 0px 0px #fff inset;
    }
}

.split-line.split-left {
    &::after {
        left: 0;
    }
}

.split-line.split-right {
    &::after {
        left: calc(100% - 3px);
    }
}

.main-title {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    padding: 0 20px;
    height: 68px;
    line-height: 68px;
}

.aside {
    font-size: 14px;
    > .title,
    .aside-title {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        padding: 10px 18px;
    }

    .row {
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        padding: 0 18px;

        > * + .kl-btn {
            margin-left: 10px;
        }

        > .title {
            color: #333;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            white-space: nowrap;
        }

        > .detail {
            width: 50px;
            height: 30px;
            flex: 1;
        }

        .border {
            padding: 0 4px;
            border: 1px solid #c4c4c4;
        }
    }

    .main-btn.kl-btn {
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        letter-spacing: 1em;
        padding-left: 1em;
    }
}

.mask-body {
    position: fixed;
    top: 100px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    margin: 0;
    z-index: 10;

    &::before {
        background: var(--kl-bg-color);
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.cursor,
.pointer {
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-all {
    pointer-events: all;
}

// 背景图像居中
.bg-img-center {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nowrap {
    white-space: nowrap;
}

.rtl {
    direction: rtl;
}

.fw-b {
    font-weight: bold;
}
